
/* Убираем стандартные отступы браузера */
body {
    margin: 0;
    overflow: hidden; /* Скрываем полосы прокрутки, если что-то вылезет */
    background-color: #2c3e50; /* Темно-синий фон (приятно глазу) */
}

canvas {
    display: block; /* Убираем нижний отступ, свойственный строчным элементам */
}
